// Buttons
%btnextend {
	display: inline-block;
	border: 1px solid;
	border-color: rgba($color_mercury,0.5) rgba($color_bon_jour,0.5) $color_mischka;
	border-radius: 3px;
	text-decoration: none;
	background: $white;
	color: $color_shark;
	&:hover {
		box-shadow: 0 0 1px 0 rgba($color_shark,0.5);
		color: $red;
	}
}
.social-btn {
	padding: 10px;
	margin: 10px;
	@extend %btnextend;
}
.btn {
	padding: 10px 18px;
	@include font-rem(14);
	margin: 4px auto;
	@extend %btnextend;
	&.btn-success {
      background-color: $success;
      color: $white;
      border-color: $success;
      &:visited {
        color: $white;
      }
      &:hover {
        background-color: $white;
        color: $success;
      }
    }
    &.btn-warning {
      background-color: $warning;
      color: $white;
      border-color: $warning;
      &:visited {
        color: $white;
      }
      &:hover {
        background-color: $white;
        color: $warning;
      }
    }
    &.btn-danger {
      background-color: $danger;
      color: $white;
      border-color: $danger;
      &:visited {
        color: $white;
      }
      &:hover {
        background-color: $white;
        color: $danger;
      }
    }
    &.btn-info {
      background-color: $info;
      color: $white;
      border-color: $info;
      &:visited {
        color: $white;
      }
      &:hover {
        background-color: $white;
        color: $info;
      }
    }
}
.title .btn {
    margin: 10px;
    @include font-rem(16);
    font-weight:300;
}
.post-list {
    .btn {
        @include font-rem(14);
    }
}

// hr break
hr {
	border: 0;
	height: 1px;
	opacity: .8;
    margin: 1em 0;
	background-image: -webkit-linear-gradient(left, $color_gallery, $color_stack, $color_gallery);
	background-image: -moz-linear-gradient(left, $color_gallery, $color_stack, $color_gallery);
	background-image: -ms-linear-gradient(left, $color_gallery, $color_stack, $color_gallery);
	background-image: -o-linear-gradient(left, $color_gallery, $color_stack, $color_gallery);
	&.hr-line {
		border: 0;
		height: 1px;
		opacity: .15;
		margin: 1em 0;
		background-image: -webkit-linear-gradient(left, $color_gallery, $color_stack, $color_gallery);
		background-image: -moz-linear-gradient(left, $color_gallery, $color_stack, $color_gallery);
		background-image: -ms-linear-gradient(left, $color_gallery, $color_stack, $color_gallery);
		background-image: -o-linear-gradient(left, $color_gallery, $color_stack, $color_gallery);
	}
}

// images and figures
img {
    display: block;
	max-width: 100%;
    width: auto;
    height: auto;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    -ms-interpolation-mode: bicubic;
    image-rendering: optimizeQuality;
}
.img-circle {
	border-radius: 50%;
	border: 3px solid $white;
	height: 150px;
	width: 150px;
}
.author-photo {
    background-color: $white;
}
.image-right {
    float: right;
    margin-left: 1em;
    margin-top: 0;
}
figure {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  @include clearfix();
  img {
    margin-bottom: 10px;
    @include rounded(4px);
  }
  &.half {
    @media only screen and (min-width: 62.5em) {
      img {
        width: calc(50% - 4px);
        float: left;
        margin-left: 1px;
        margin-right: 1px;
      }
      figcaption {
        clear: left;
      }
    }
  }
  &.third {
    @media only screen and (min-width: 62.5em) {
      img {
        width: calc(33.3% - 6px);
        float: left;
        margin-left: 1px;
        margin-right: 1px;
      }
      figcaption {
        clear: left;
      }
    }
  }
}
.side-by-side {
  display: block;
  img {
    display: block;
    float: left;
    margin-left: 10px;
  }
}
svg:not(:root) {
  overflow: hidden; 
}

// keyboard tag
kbd {
	display: inline-block;
	margin: 0 1px;
	padding: 1px 8px;
	@include font-rem(10);
	font-weight: bold;
	color: $color_fuscous_gray;
	vertical-align: middle;
	background-color: $color_alabaster;
	border: solid 1px $color_celeste;
	border-bottom-color: $color_pink_swan;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 $color_pink_swan;
}

// go up button
.goup-container {
    border-radius: 3px !important;
    border-color: rgba($color_mercury,0.5) rgba($color_bon_jour,0.5) $color_mischka !important;
    border: 1px solid;
	@media #{$small} {
		display: none !important;
	}
}
.goup-arrow {
    border-color: transparent transparent $color_tuatara !important;
}

// reading time
.reading-time {
    text-align: center;
    font-weight: 300;
    margin-bottom: 10px;
}

a.fb-msg-btn{
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding: 10px 16px;
  margin: 0;
  background-color: #0084ff;
  border: 0;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  text-decoration: none;
  &:hover {
    background-color: #0268c7; 
  }
}

a.fb-btn{
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding: 10px 16px;
  margin: 0;
  background-color: #29487d;
  border: 0;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  text-decoration: none;
  &:hover {
    background-color: #29487d; 
  }
}

.github-card-medium {
  text-align: center;
  margin: 20px auto;
  border-radius: 5px;
  background: $white;
  position: relative;
  @media #{$small} {
		width: 75%;
  }
  @media #{$notsmall} {
		width: 50%;
	}
  border: 1px solid #eee;
  border-radius: 5px;
  border-color: #eee #ddd #bbb;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 3px;
  font-size: 14px;
  font-family: inherit;
  .card-header {
    position: relative;
    padding: 0;
    margin: 0;
    height: 148px;
    border-radius: 4px 4px 0 0;
    background-size: cover;
    background-position: center;
    background: #4183c4;
  }
  .avatar {
    display: inline-block;
    overflow: hidden;
    background: $white;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    text-decoration: none;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    &:hover {
      -webkit-transform: rotate(45deg);
    }
  }
  h1 {
    color: #4078c0;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
  }
  ul {
    text-transform: uppercase;
    font-size: 12px;
    color: #707070;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    zoom: 1;
    &:after {
      display: block;
      content: '';
      clear: both;
    }
  }
  .card-status {
    li {
      float: left;
      padding: 8px 0;
      box-shadow: 1px 0 0 #eee;
    }
    &:last-of-type {
      box-shadow: none;
    }
    strong {
      font-size: 16px;
      line-height: 1.6; 
    }
    a {
      color: #707070;
      text-decoration: none;
      &:hover {
        color: #4183c4;
      }
    }
  }
}
.MobileViewCompanyName{
  display: none;
  margin-top: 25px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  @media #{$medium}, #{$small}{
    display: block;
  }
}
.experienceSet{
  // position: relative;
  display: flex;
  place-content: space-around;
  margin-top: 25px;
  .CompanyLOGO{
    width: 100px;
    height: 200px;
    @media #{$medium}, #{$small}{
      display: none;
    }
    img {
      border-radius: 5px;
    }
    .CompanyName{
      text-align: center;
    }
    .working_period{
      opacity: 0.7;
      line-height: 1
    }
  }
  .WholeContent{
    display: flex;
    flex-direction: column;
    .ContentBlock{
      width: auto;
      max-width: 600px;
      min-height: 210px;
      border: 1px solid grey;
      padding:10px;
      border-radius: 10px;
      margin-bottom: 15px;
      @media #{$mobViewSmallMedium} {
        max-width: 274px;
      }
      @media #{$mobViewLarge} {
        max-width: 349px;
      }
      .Content{
        .Role{
          font-size: medium;
          font-weight: bold;
        }
        .Years, .location{
          opacity: 0.7;
          line-height: 1.5
        }
        .Skill-Set{
          margin-top: 15px;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
        }
        .Description{
          margin-top: 15px;
          #SeeMore{

          }
          a{
            word-wrap: break-word;
          }
        }
      }
    }
  }
}
.basic-info{
  position: absolute;
  top: 50px;
  right: 0px;
  font-size: 0.875rem;
}
// common for the experience set div and Title
.Highlighted{
  font-size: medium;
}
.repo-card-medium {
  .avatar {
    position: absolute;
    top: 5px;
    left: 5px;
    border: 2px solid $white;
    img {
      display: block;
      width: 48px;
      height: 48px;
    }
  }
  h1 {
    margin: 0;
    padding: 0;
    line-height: 148px;
    color: $white;
    font-size: 36px;
    font-weight: 400;
    a {
      color: $white;
      text-decoration: none;
      &:hover {
        color: $white;
        opacity: 0.8;
      }
    }
  }
  .card-content {
    p {
      font-size: 16px;
      padding: 10px 20px;
    }
  }
  p {
    a {
      text-decoration: none;
      color: #4183c4;
      outline: 0;
    }
  }
  .card-status {
    li {
      width: 50%;
    }
  }
}

.table-striped {
  tr:nth-of-type(odd) { 
    background: #eee; 
  }
  thead {
    th, td {
      border-bottom-width: 2px;
    }
  }
}

.label {
  display: inline-block;
  color: white;
  padding: 5px;
  border-radius: 3px;
  font-size: 10px;
  width: 75px;
  text-align: center;
  -webkit-box-shadow: 3px 4px 2px 1px #bbb;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 4px 2px 1px #bbb;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 4px 2px 1px #bbb;
}

.basic {background-color: $info;}
.intermediate {background-color: $warning;}
.proficient {background-color: $danger;}

.skills {
  display: flex;
  margin-top: 15px;
  padding: 0 10px 0 10px;
  .left {
    flex: 0 0 100px;
  }
  .right {
    flex: 1;
  }
}

.box-container{
  margin: auto;
  margin-top: 20px;
  ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
    li{
      display: inline-block;
      list-style: none;
      width: 194px;
      margin :10px 0px 0px 10px;
      box-sizing: border-box;
      padding-bottom: 10px;
      box-shadow: 0px 5px 13px 3px #bbb;
      .bottom{
        width: 100%;
        height:25px;
        background: grey;    
        text-align: center;
        color:white;
        font-size: 15px;
        padding: 0 10px 0 10px;
      }
    }
  }
}

hr {
  display: block;
  position: relative;
  padding: 0;
  margin: 8px auto;
  height: 0;
  width: 100%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #ffffff;
}

.column {
  float: left;
  padding: 5px;
  margin: 10px 14px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.arrow-tag {
  margin:0 0 7px 20px;
  position:relative;

  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:0.75em;
  font-weight:bold;
  text-decoration:none;

  color:#996633;
  text-shadow:0px 1px 0px rgba(255,255,255,.4);

  height: 1.9em;
  padding: 0em 0.7em 0em 0.9em;

  border-top:1px solid #d99d38;
  border-right:1px solid #d99d38;
  border-bottom:1px solid #d99d38;

  -webkit-border-radius:0 0.25em 0.25em 0;
  -moz-border-radius:0 0.25em 0.25em 0;
  border-radius:0 0.25em 0.25em 0;

  background-image: -webkit-linear-gradient(top, rgb(254, 218, 113), rgb(254, 186, 71));
  background-image: -moz-linear-gradient(top, rgb(254, 218, 113), rgb(254, 186, 71));
  background-image: -o-linear-gradient(top, rgb(254, 218, 113), rgb(254, 186, 71));
  background-image: -ms-linear-gradient(top, rgb(254, 218, 113), rgb(254, 186, 71));
  background-image: linear-gradient(top, rgb(254, 218, 113), rgb(254, 186, 71));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#feda71', EndColorStr='#feba47');

  -webkit-box-shadow:
      inset 0 1px 0 #faeaba,
      0 1px 1px rgba(0,0,0,.1);
  -moz-box-shadow:
      inset 0 1px 0 #faeaba,
      0 1px 1px rgba(0,0,0,.1);
  box-shadow:
      inset 0 1px 0 #faeaba,
      0 1px 1px rgba(0,0,0,.1);

  z-index:100;
}

.arrow-tag:before {
  content:'';

  width:1.30em;
  height:1.358em;

  background-image: -webkit-linear-gradient(left top, rgb(254, 218, 113), rgb(254, 186, 71));
  background-image: -moz-linear-gradient(left top, rgb(254, 218, 113), rgb(254, 186, 71));
  background-image: -o-linear-gradient(left top, rgb(254, 218, 113), rgb(254, 186, 71));
  background-image: -ms-linear-gradient(left top, rgb(254, 218, 113), rgb(254, 186, 71));
  background-image: linear-gradient(left top, rgb(254, 218, 113), rgb(254, 186, 71));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#feda71', EndColorStr='#feba47');
   
  position:absolute;
  left:-0.69em;
  top:.2em;

  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);

  border-left:1px solid #d99d38;
  border-bottom:1px solid #d99d38;

  -webkit-border-radius:0 0 0 0.25em;
  -moz-border-radius:0 0 0 0.25em;
  border-radius:0 0 0 0.25em;

  z-index:1;
}

.arrow-tag:after {
  content:'';

  width:0.5em;
  height:0.5em;

  background:#fff;

  -webkit-border-radius:4.167em;
  -moz-border-radius:4.167em;
  border-radius:4.167em;

  border:1px solid #d99d38;

  -webkit-box-shadow:0 1px 0 #faeaba;
  -moz-box-shadow:0 1px 0 #faeaba;
  box-shadow:0 1px 0 #faeaba;

  position:absolute;
  top:0.667em;
  left:-0.083em;
  z-index:9999;
}