.CopyIcon {
  position: absolute;
  right: 0px;
  padding: 15px 20px;
  z-index: 5;
  
}
.Tooltip {
// visibility: hidden;
display: none;
width: 150px;
background-color: white;
color: black;
text-align: center;
border-radius: 6px;
padding: 5px 15px;
position: absolute;
z-index: 1;
top: 40px;
right: -30px;
}
.CopyIcon:hover .Tooltip {
  // visibility: visible;
  display: block;
}
